.activities {
    display: flex;   
}

.activities__item:not(:last-child) {
    margin-right: 30px;
}
 
.activities__thumb {
    position: relative;
}

.activities__overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);

   @extend %centered;
}

.activities__title {
    @extend %title;
}