.clients {
    display: flex;

    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        margin: -15px;
        justify-content: center;
    }
}

.clients__item {
    
    @media screen and (max-width: 1199px) {
        margin: 15px;
    }
    
    @media screen and (max-width: 767px){
        width: calc((100% - 60px)/2);
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 90px)/3);
    }

    &:not(:last-child) {
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
    }
}


.clients__link {
    color: $social-networks-icons-color;

    height: 92px;
    border: 1px solid $social-networks-icons-color;
    border-radius: 4px;

    @extend %centered;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &focus {
        border-color: $accent;
    }
}

.clients__icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .clients__link:hover &,
    .clients__link:focus & {
        fill: $accent;
    }
}