.join-us {
    margin-left: 70px;
}

.join-us__title {
    @extend %title;

    margin-bottom: 20px;
}

.footer-icons {
    display: flex;
}

.footer-icons__item:not(:last-child) {
    margin-right: 10px;
}

.footer-icons__link {
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);

    @extend %centered;
    @extend %icons-active;

    &:hover,
    &:focus {
        background-color: $accent;
    }
}

.footer-icons__icon {
    @extend %icons-size;
}