.footer-form {
    margin-left: 93px;
    width: 570px;
}

 .footer-form__title {
    @extend %title;

    display: inline-block;
    margin-bottom: 20px;
 }

.footer-form__thumb {
    display: flex;
    align-items: center;
}

.footer-form__input {
    width: 358px;
    padding: 15px 16px;
    color: $white;
    background-color: $background-secondary-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
        border-color: $accent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    }
}

.footer-form__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
    @extend %button;

    margin-left: 12px;
    padding: 10px 28px;
    display: flex;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $background-secondary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    } 
}

.footer-form__icon {
    width: 24px;
    height: 24px;
    
    fill: $white;

    margin-left: 10px;
}