.form {
   padding: 40px;
   text-align: center;
}

.form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: $text-secondary-color;
    margin-bottom: 12px;
}

.form__field {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form__field--margin {
    margin-bottom: 18px;
}

.form__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    margin-bottom: 4px;
    display: block;
}

.form__thumb{
    position: relative;
}

.form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
        border-color: $accent;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: $text-secondary-color;

    display: block;
    height: 18px;
    width: 18px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input:focus + & {
        fill: $accent;
    }
}

.form__comment {
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus-within {
         border-color: $accent;
    }
}

.form__comment::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.form__policy {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.form__conditions {
    color: $accent;
    text-decoration: underline;
}

.form__checkbox-icon {
    display: inline-block;
    width: 16px; 
    height: 15px;
    margin-right: 7px;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    border: 2px solid $black;
    border-radius: 2px;
}

.form__checkbox:checked + .form__checkbox-icon {
    background-origin: border-box;
    background-color: $accent;
    border-color: $accent;
}

.form__submit {
    @extend %button;

    padding: 10px 52px;
    
    transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $background-secondary-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}