.page-footer {
    background-color: $background-secondary-color;

    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer__container {
   

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-left: 76px;
        padding-right: 89px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}
 
.footer-grooup-tablet {

    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
    }
}

.footer-address {
    @media screen and (min-width: 768px) and (max-width: 1199px){
        text-align: center;
    }
}

