.page-header__container,
.nav,
.site-nav,
.header-contacts,
.header-contacts__item,
.header-contacts__link{ 
    @media screen and (min-width:768px) {
        display: flex;  
        align-items: center;
    }
}

.page-header {
    border-bottom: 1px solid $header-border-color;
    position: relative;
}