.page-header__container,
.nav,
.site-nav,
.header-contacts,
.header-contacts__item,
.header-contacts__link{ 
    display: flex;  
    align-items: center;
}

.page-header {
    border-bottom: 1px solid $header-border-color;
}
