.projects {
    display: flex;
    flex-wrap: wrap;
}

.projects__item {
    margin-right: 30px;
    margin-bottom: 30px;
    
    flex-basis: calc((100% - 60px)/3);
}

.projects__item:nth-child(3n) {
    margin-right: 0px;
}

.projects__item:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.projects__link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__content {
    padding: 20px 24px;
    border: 1px solid $background-border-color-portfolio-works; 
    border-top: none;
}

.projects__title {
    color: $text-secondary-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.projects__description {
    color: $text-primary-color;

    font-size: 16px;
    line-height: 1.88;
}

.projects__thumb {
    position: relative;
    overflow: hidden;
}

.projects__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);

    .projects__link:hover &,
    .projects__link:focus & {
        transform: translateY(0);
    }
}

.projects__text {
    color: $white;

    font-size: 18px;
    line-height: 1.56;
}