$background-primary-color: #FFFFFF;
$background-secondary-color: #2F303A;
$background-team-color: #F5F4FA;
$text-primary-color: #757575;
$text-secondary-color: #212121;
$accent: #2196F3;
$black: #000000;
$white: #FFFFFF;
$background-border-color-portfolio-works: #EEEEEE;
$background-buttons-color: #F5F4FA;
$header-border-color : #ECECEC;
$social-networks-icons-color: #AFB1B8;